{% extends "base.html" %}

{% block title %} Index Page {% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
     <p> Time is: <strong> {{ now }} </strong></p>
     <hr>
   </div>
   <div class="col-md-12">
    <p>
      <span>Query Result: </span> {{ posts }}<br>
        <sub>
          [<a class="text-success" href="{{ url_for('add_post') }}">add Post</a>]
        </sub>
      <hr>
      <span>Loop Query: </span>
        {% for post in posts %}
          <ul>
            <li> Object: {{ post }}
                <sup>
                  [<a class="text-warning" href="{{ url_for('edit_post', id=post.id) }}">edit</a>]
                  [<a class="text-danger" href="{{ url_for('delete_post', id=post.id )}}">delete</a>]
                </sup>
              <ul>
                <li>id: {{ post.id }} </li>
                <li>title: {{ post.title }} </li>
                <li>body: {{ post.body }} </li>
                <li>link with single-object title: <a href="{{ url_for('single_post', id=post.id )}}"> {{ post.title }} </a></li>
              </ul>
            </li>
          </ul>
       {% endfor %}
    </p>
  </div>
  </div>
{% endblock %}
